.modal-table-container {
  max-height: 400px;
  overflow-y: auto; 
}

.modal-footer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

.total-grade,
.total-percent {
  font-weight: bold;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  padding: 8px;
  border-bottom: 1px solid #ddd;
  text-align: left;
}

th {
  background-color: #f2f2f2;
  font-weight: bold;
}

.floating-container {
    position: sticky;
    bottom: 0;
    background-color: white;
    padding: 10px;
    display: flex;
    justify-content: flex-end;
    border-top: 1px solid #ccc;
    box-shadow: 0px -4px 6px -1px rgba(0, 0, 0, 0.1);
  }
  
  .total-grade,
  .total-percent {
    margin-left: 10px;
  }
  
  .total-percent {
    margin-right: 10px;
  }
  